<div class="show-user-container">
<p>Welcome <%= @user.name %>! this is your own profile page.</p>
  <div class="cards-show">
  <div class="card-show-user">
    <div class="user-info">
      <img class="user-avatar" alt="user-avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
      <p><u><%= @user.name %></u></p>
    </div>
    <div class="user-valid-modify">
    <p>Verify ID</p>
    <p>Update profile infos </p>
    </div>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>
    <div class="card-show-option">
      <div class="user-description"><p> Small user description</p></div>
      <div class="user-orders-state">
        <p><u>My current orders</u></p>
          <% @user.bookings.each do |booking| %>
            <p><strong>Order id</strong> : <%=booking.id %>, <%= booking.spaceship.name %> du <%= booking.start_date %> au <%= booking.end_date %>, <strong>statut</strong>: <%= booking.status %><% if booking.spaceship.user == current_user %><%= link_to 'Accept', "/bookings/#{booking.id}/accept", data: { confirm: 'Are you sure you want to confirm ??' } %><% end %> | <% if booking.user == current_user %> <%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %><% end %></p>
          <% end %>
      </div>
      <div class="previous-orders">
        <p><u>My previous orders</u></p>
        <% @user.bookings.each do |booking| %>
        <% if booking.status == 'confirmed' %>
          <p><strong>Order id</strong> : <%=booking.id %>, <%= booking.spaceship.name %> du <%= booking.start_date %> au <%= booking.end_date %>, <strong>statut</strong>: <%= booking.status %></p> | <%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %> </p></p>
        <% end %>
        <% end %>
      </div>
      <%= link_to "rent spaceship", spaceships_path, class: "btn-genevieve"  %>
      <hr>
      <% if @user.spaceships.any?  %>
        <%= link_to "offer new spaceship experience", new_spaceship_path, class:"btn-genevieve" %>
      <% else %>
        <%= link_to "Become a host", new_spaceship_path, class:"btn-genevieve" %>
      <% end %>
      <div class="owner-spaceships">
        <p><u>My spaceships</u></p>
         <% @user.spaceships.each do |spaceship| %>
            <strong>id</strong>: <%= spaceship.id%>, <%= spaceship.name %>, <strong>standing</strong>: <%= spaceship.standing%>, <strong>price</strong>: <%= spaceship.price %>
          | <% if spaceship.user == current_user %> <%= link_to 'Delete', spaceship_path(spaceship), method: :delete, data: { confirm: 'Are you sure?' } %> <% end %>
          <br>
          <% end %>
      </div>
    </div>
  </div>
</div>
