

<div class="show-user-container">

<p>Welcome <%= @user.name %>! this is your own profile page.</p>

  <div class="cards-show">

  <div class="card-show-user">
    <div class="user-info">
      <img class="user-avatar" alt="user-avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
      <p><u><%= @user.name %></u></p>
    </div>
    <div class="user-valid-modify">
    <p>Verify ID</p>
    <p>Update profile infos </p>
    </div>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>


    <div class="card-show-option">
      <div class="user-description"><p> Small user description</p></div>

      <div class="user-orders-state">
        <p><u>My current orders</u></p>

          <% @user.bookings.each do |booking| %>
            <p><strong>Order id</strong> : <%=booking.id %>, <%= booking.spaceship.name %> du <%= booking.start_date %> au <%= booking.end_date %>, <strong>statut</strong>: <%= booking.status %> </p>
          <% end %>
      </div>

      <div class="previous-orders">
        <p><u>My previous orders</u></p>
        <% @user.bookings.each do |booking| %>
          <p><strong>Order id</strong> : <%=booking.id %>, <%= booking.spaceship.name %> du <%= booking.start_date %> au <%= booking.end_date %>, <strong>statut</strong>: <%= booking.status %> </p>
        <% end %>
      </div>
      <%= link_to "rent spaceship", spaceships_path, class: "btn-genevieve"  %>
      <hr>

      <% if @user.spaceships.count >= 1  %>
        <%= link_to "offer new spaceship experience", new_spaceship_path, class:"btn-genevieve" %>
      <% else %>
        <%= link_to "Become a host", new_spaceship_path, class:"offer-spaceship" %>
      <% end %>
    </div>
  </div>
</div>
