Spaceship for rent

<ul>
<% @spaceships.each do |s| %>

  <li><%= link_to s.name, spaceship_path(s.id) %></li>
    <li>Address : <%= s.address %></li>
    <li>Capcity : <%= s.capacity %></li>
    <li>Standing : <%= s.standing %></li>
    <br>
    <%= link_to 'view details', spaceship_path(s.id) %>
    <%= link_to 'Destroy', s, method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr>
<% end %>

</ul>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
