
<%# si on veut ajouter une image en fond avec cloudinary : style="background-image:url(https://res.cloudinary.com/beyondsky/image/upload/v1629363709/k2hl3vqvbqlalyriaj96.jpg); %>


<div class="form-container">

<h2 style="background-image: url(https://news.unl.edu/sites/default/files/styles/large_aspect/public/media/shutterstock_471693773.jpg)" width:100%="" heigth="" 30px="">Add a New Spaceship</h2>
  <div class="form-spaceship">
    <%= simple_form_for(@spaceship) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        Spaceship's<%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :description %>
        <%= f.input :capacity %>
        <%= f.input :price %>
        <%= f.input :standing %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      </div>

      <div class="form-action">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>
