<h1>Here is the <%= @spaceship.name %></h1>

<ul>
    <li>Description :<%= @spaceship.description %></li>
    <li>Address : <%= @spaceship.address %></li>
    <li>Capacity : <%= @spaceship.capacity %></li>
    <li>Standing : <%= @spaceship.standing %></li>
    <li>Price : <%= @spaceship.price %> Royal Krystal</li>
    <hr>
</ul>

<li><%= link_to 'Back', spaceships_path %></li>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
