<div class="space-show-container">




<div class="display_flex">
 <div class="show-spaceship-card">

    <h1>Here is the <%= @spaceship.name %></h1>
        <li>Description :<%= @spaceship.description %></li>
        <li>Address : <%= @spaceship.address %></li>
        <li>Capacity : <%= @spaceship.capacity %> person<%= @spaceship.capacity.to_i > 1 ? "s":"" %></li>
        <li>Standing : <%= @spaceship.standing %></li>
        <li>Price : <%= @spaceship.price %> Royal Krystal</li>

    <div class="photo_space_show"></div>
  </div>
    <div id="map"
        style="width: 100%; height: 450px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
<div class="button-show-spaceship">
    <%= link_to 'BOOK NOW', new_spaceship_booking_path(@spaceship.id), class:"btn btn-booking" %>
    <%= link_to 'Back List Spaceships', spaceships_path, class:"btn btn-spaceship-index" %>
</div>



</div>
